<div class="c-desautorizado">
  <div class="alert alert-danger" role="alert">
    <h4 class="c-desautorizado__centrar">Tu cuenta no está autorizada.</h4>
  </div>
  <div class="alert alert-primary" role="alert">
    Si esto es un error comunícaselo a un administrador.
  </div>
  <div class="c-desautorizado__centrar">
    <div class="c-desautorizado__boton">
      <a href="/" class="btn btn-primary" role="button">Volver a WeekFood</a>
    </div>
    <div class="c-desautorizado__boton">
      <a class="btn btn-danger js-boton-cerrar" role="button">Cerrar sesión</a>
    </div>
  </div>
</div>