//@import "glide.core";
 
@import "components/distribucion";
@import "components/cabecera";
@import "components/menu";
@import "components/principal";
@import "components/pie";

@import "components/bienvenida";
@import "components/caja";
@import "components/carrusel";
@import "components/productos";
@import "components/producto";
@import "components/WeekFood";

@import "layout/bienvenida";
@import "layout/carrusel";

body{
    margin: 0%;
    height: 100vh;
    //background: rgb(236, 234, 234)
    background: whitesmoke
}