.c-cabecera {
    display: flex;
    align-items: center;
}

.c-cabecera__logo__grande {
    width: 150px;
    display: none;
    @media only screen and (min-width: 426px) {
        display: block;
    }
}

.c-cabecera__logo__grande .WeekFood {
    font-size: 28px;
}

.c-cabecera__logo__movil {
    width: 70px;
    display: block;
    @media only screen and (min-width: 426px) {
        display: none;
    }
}

.c-cabecera__logo__movil .WeekFood {
    font-size: 42px;
}

.c-cabecera__home {
    text-decoration: none;
    margin: 0px auto 0px auto;
    @media only screen and (min-width: 426px) {
        margin: 0% auto;
    }
}

.c-cabecera__iconos--izq {
    display: none;
    @media only screen and (min-width: 426px) {
        display: flex;
        align-items: center;
        margin: 0% auto 0% 2%;
    }
}

.c-cabecera__iconos-der {
    margin: 0% 20% 0% 0%;
    display: flex;
    align-items: center;
    @media only screen and (min-width: 426px) {
        display: none;
    }
}

.c-cabecera__iconos-der--pequeños {
    display: none;
    @media only screen and (min-width: 426px) {
        display: flex;
        align-items: center;
        margin: 0% 2% 0% 0%;
    }
}

.c-cabecera__iconos-der i,
.c-cabecera__iconos-der--pequeños i,
.c-cabecera__iconos--izq i {
    margin: 0% 20% 0% auto;
    @media only screen and (min-width: 426px) {
        margin: 0% 10% 0% auto;
    }
}