.c-carrusel{
    display: block !important;
    width: 93vw !important;
    height: 20vw !important;
    @media only screen and (min-width: 426px) {
        display: block !important;
        width: 84vw !important;
        height: 20vw !important;
    }
    
}

.c-carrusel__contenedor {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    margin-top: 0%;
}

.c-carrusel__imagen img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}