.c-distribucion {
    display: grid;
    height: 100vh;
    max-width: 100vw;
    grid-template-rows: 10vh 1fr 1fr 5vh;
    grid-template-areas: "cabecera" "superior" "principal" "pie";
    @media only screen and (min-width: 426px) {
        grid-template-rows: 5vh 90vh 2vh 3vh;
        grid-template-columns: 200px 1fr;
        grid-template-areas: "cabecera cabecera cabecera cabecera" "lateral principal principal principal" "espacio espacio espacio espacio" "pie pie pie pie";
    }
}
.c-distribucion__cabecera {
    grid-area: cabecera;
}
.c-distribucion__menu {
    grid-area: superior;
    @media only screen and (min-width: 426px) {
        grid-area: lateral;
    }
}
.c-distribucion__principal{
    grid-area: principal;
    min-height: 75vh;
}
.c-distribucion__pie{
    grid-area: pie;
}