.c-menu {
    background: $blanco;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 100%;
    overflow: hidden;
    &--ocultar{
        animation: c-menu__ocultar;
        animation-duration: 0.5s;
        animation-timing-function: ease-in;
    }
    &--descubrir{
        animation: c-menu__descubrir;
        animation-duration: 0.5s;
        animation-timing-function: ease-out;
    }
    &--oculto{
       height:0px;
    }
    
    @media only screen and (min-width: $mobile-l) {
        display: block;
        border-bottom-right-radius: 10px;
        &--oculto{
            height: 100%;
        }
    }

}

.c-menu__boton {
    @media only screen and (min-width: $mobile-l) {
        display: none;
    }
}

.c-menu__lista {
    display: grid;
    padding: 15px;

    row-gap: 3px;
}

.c-menu__item {
    padding: 3px;
    padding-left: 10px;

    border-left: 2px solid transparent;
    &--destacado {
      color: $rojo;
      border-color: $rojo;
      font-weight: bold;
    }
    &--oculto{
        margin: -20% 0% 0% -100%
    }
    &--descubrir{
        animation: c-menu__lista__descubrir;
        animation-duration: 0.5s;
        animation-timing-function: ease-out;
    }
    @media only screen and (min-width: $mobile-l) {
        &--oculto{
            margin:0%;
        }
    }

}
.c-menu__item:hover{
    color: $rojo;
    border-color: $rojo;
    font-weight: bold;

}
@keyframes c-menu__ocultar{
    0%{
        height: 100%;
    }
    100%{
        height: 0%;
    }
}
@keyframes c-menu__descubrir{
    0%{
        height: 0%;
    }
    100%{
        height: 100%;
    }
}
@keyframes c-menu__lista__descubrir{
    0%{
        margin: -20% 0% 0% -100%
    }
    50%{
        margin: 0% 0% 0% -100%

    }
    100%{
        margin: 0%
    }
}