.c-menu {
    display: block;
}

.c-menu__listado {
    list-style: none;
    padding-left: 5%;
}

.c-menu__item {
    display: none;
    @media only screen and(min-width: 426px) {
        display: block;
        //font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
}

.c-menu__item--desplegado {
    //font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: block;
    margin-left: 9%;
}

.c-menu__seleccionado {
    display: inline-block;
    font-style: italic;
   // font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   
}
.c-menu__item--desplegado.c-menu__seleccionado::before{
    content: '-> '
}

.c-menu__item--desplegado.c-menu__seleccionado {
    display: block;
}

.c-menu__separador {
    width: 80%;
    border-top: 1px solid black;
    margin: 5% 0%;
}

.c-menu__hamburgesa,
.c-menu__circulo {
    @media only screen and(min-width: 426px) {
        display: none;
    }
    margin-right: 5%;
}


.c-menu__hamburgesa--oculto,
.c-menu__circulo--oculto {
    display: none;
}