.c-producto {
    overflow: hidden;
    position: relative;
    margin: 5%;
}

.c-producto__banner {
    object-fit: cover;
    height: 65%;
    width: 100%;
}

.c-producto__descripcion {
    text-align: center;
    vertical-align: middle; //background: white;
    height: 35%;
    padding: 0% 5%;
}

.c-producto__descripcion__contenido {
    font-family: 'Happy Monkey';
    font-weight: 100;
    font-size: 14px;
    margin: 0%;
}
.c-producto--destacado .c-producto__descripcion{
    background: linear-gradient(white,white,white,gold);
}

.c-producto--destacado {
    box-shadow: 0 4px 8px 0 gold, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.c-producto__banner--destacado {
    position: absolute;
    background: rgb(255, 255, 255);
    border-radius: 360px;
    width: 20%;
    top: 5%;
    right: 5%;
}