<div class="c-sidebar" [ngClass]="{ 'esta-visible': estaVisible }">
  <ul class="list-group">
    <li class="list-group-item" routerLink="productos" routerLinkActive="active">Productos</li>
    <li class="list-group-item" routerLink="categorias" routerLinkActive="active">Categorías</li>
    <li class="list-group-item" routerLink="subcategorias" routerLinkActive="active">Subcategorías</li>
    <li class="list-group-item" routerLink="carritos" routerLinkActive="active">Carritos</li>
    <li class="list-group-item" routerLink="usuarios" routerLinkActive="active">Usuarios</li>
  </ul>
</div>