$blanco: #ffffff;
$negro: #000000;

$rojo: #e41e08;

$almendraBlanca: blanchedalmond;

$acento-basico: #17a2b8; // https://getbootstrap.com/docs/4.0/components/buttons/
$acento-exito: #27ae60; // https://flatuicolors.com/palette/defo
$acento-peligro: #c0392b; // https://flatuicolors.com/palette/defo
$acento-advertencia: #f39c12; // https://flatuicolors.com/palette/defo