@font-face {
    font-family: 'Happy Monkey';
    src: url('../fonts/HappyMonkey-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Roboto-Regular.ttf');
}


$fuente-principal: Roboto, sans-serif;
$fuente-logo: 'Happy Monkey', cursive;