<div class="c-login">
    <form>
        <div class="form-group">
            <label>Nick</label>
            <input type="text" class="form-control js-nick" placeholder="Nick">
        </div>
        <div class="form-group">
            <label>Contraseña</label>
            <input type="password" class="form-control js-contra" placeholder="Contraseña">
        </div>
        <div class="c-login__contenedor-boton">
            <button type="submit" class="btn btn-primary js-entrar">Entrar</button>
        </div>
    </form>
</div>