@import '../../../styles/abstracts/breakpoints';

.c-login {
    margin: auto;
    width: 90%;
    @media (min-width: $mobile-l) {
        width: 50%;
    }
}

.c-login__contenedor-boton {
    text-align: center
}

.c-login__error-campo {
    border: 2px solid red;
}

.c-login__titulo {
    display: flex;
}

.c-login__error {
    margin-left: auto;
    color: red;
}