@import '../../styles/abstracts/colores';
@import '../../styles/abstracts/breakpoints';

.navbar {
    background: $rojo;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

.navbar-brand {
    font-family: 'Happy Monkey';
    font-style: italic;
    font-size: 1.5rem;
}

.c-cabecera {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

.c-cabecera__toggle-sidebar {
    font-size: 1.25rem;
    color: white;
    justify-self: flex-start;
    @media only screen and (min-width: $mobile-l) {
        visibility: hidden;
    }
}
