.l-distribucion {
    height: 100%;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas: 'cabecera'
                         'menu'
                         'principal'
                         'pie';
    &--expandido{
        grid-template-rows: auto auto auto 1fr auto;
        grid-template-areas: 'cabecera'
                             'menu'
                             'menu--expandido'
                             'principal'
                             'pie';
    }
    @media only screen and (min-width: $mobile-l) {
        grid-template-columns: 200px 1fr 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: 'cabecera  cabecera    cabecera'
                             'menu      principal   principal'
                             'pie       pie         pie';
        &--expandido{
            grid-template-columns: 200px 200px 1fr 1fr;
            grid-template-areas: 'cabecera  cabecera        cabecera    cabecera'
                                 'menu      menu--expandido principal   principal'
                                 'pie       pie             pie         pie';
        }
    }
}

.l-distribucion__cabecera {
    grid-area: cabecera;
}

.l-distribucion__menu {
    grid-area: menu;
    &--expandido{
        grid-area: menu--expandido;
    }
}

.l-distribucion__principal {
    grid-area: principal;
    overflow: auto;
}

.l-distribucion__pie {
    grid-area: pie;
}