.c-acceso__panel {
    border-radius: 10px;
    border-top-left-radius: 10px;
    width: 425px;
    z-index: 2;
    position: absolute;
    top: 50px;
    background: #ffffff;
    right: 0px;
    padding: 15px;
    margin: 0;
    max-height: 80vh;
    overflow: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-top-left-radius: 0px;
    animation: c-carrito__aparecer 0.5s;
}
.c-acceso__titulo{
    margin-bottom: 10px;
    text-align: center;
    font-size: 30px;
    @media only screen and (min-width: $mobile-l) {
        font-size: 25px;
    }
}
.c-acceso__campo{
    margin: 5px 0;
    width: 100%
}
.c-acceso__boton{
    margin-top: 10px;
    width: 100%
}