.c-bienvenida {
    padding: 30px 15px;
}

.c-bienvenida__titulo {
    text-align: center;
    font-size: 2rem;
}

.c-bienvenida__contenido {
    font-size: 1.2rem;
    line-height: 1.3rem;
    margin-top: 30px;
}

.c-bienvenida__nota {
    font-size: 1rem;
    line-height: 1rem;
    margin-top: 0px;
    font-style: italic;
}