.c-boton {
    display: inline-block;
    padding: 0.375rem 0.75rem;
    border-radius: 8px;
    line-height: 1.333;

    background: $negro;
    color: $blanco;
    text-align: center;

    cursor: pointer;
    transition: background 150ms;

    &--basico {
        background: $acento-basico;
        &:hover {
            background: darken($acento-basico, 4%);
        }
    }

    &--exito {
        background: $acento-exito;
        &:hover {
            background: darken($acento-exito, 4%);
        }
    }

    &--peligro {
        background: $acento-peligro;
        &:hover {
            background: darken($acento-peligro, 4%);
        }
    }

    &--advertencia {
        background: $acento-advertencia;
        &:hover {
            background: darken($acento-advertencia, 4%);
        }
    }
    &--deshabilitado {
        background: $acento-deshabilitado;
        &:hover {
            background: darken($acento-deshabilitado, 4%);
        }
    }
}