.c-cabecera {
    display: flex;
    align-items: center;

    background: $almendraBlanca;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 2;
    position: relative;
}

.c-cabecera__boton-menu {
    display: block;
    padding: 15px;
    @media only screen and (min-width: $mobile-l) {
        display: none;
    }
}

.c-cabecera__logo {
    display: block;
    margin: 0 auto;
    
    @media only screen and (min-width: $mobile-l) {
        display: none;
    }

    &--completo {
        display: none;
        @media only screen and (min-width: $mobile-l) {
            display: block;
        }
    }
}

.c-cabecera__botones {
    display: grid;
    grid-auto-flow: column;
    font-size: 20px;
    @media only screen and (min-width: $mobile-l) {
        gap: 10px;
    } 
}

.c-cabecera__boton {
    padding: 15px;
}