.c-cambio-campo {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 15px;
    grid-column-gap: 10px;
    grid-template-areas: "nombre-actual contenido-actual" "nombre-nuevo contenido-nuevo" "nombre-nuevo-repe contenido-nuevo-repe" "guardar guardar";
}

.c-cambio-campo__nombre-actual {
    grid-area: nombre-actual
}

.c-cambio-campo__contenido-actual {
    grid-area: contenido-actual
}

.c-cambio-campo__nombre-nuevo {
    grid-area: nombre-nuevo
}

.c-cambio-campo__contenido-nuevo {
    grid-area: contenido-nuevo
}

.c-cambio-campo__nombre-nuevo-repe {
    grid-area: nombre-nuevo-repe
}

.c-cambio-campo__contenido-nuevo-repe {
    grid-area: contenido-nuevo-repe
}

.c-cambio-campo__guardar {
    grid-area: guardar
}

.c-cambio-campo__texto{
    border:1px solid
}