.c-carrito {
    max-width: 300px !important;
    min-height: 100px;
    z-index: 2;
    position: absolute;
    top: 50px;
    right: 0px;
    margin: 0 !important;
    max-height: 80vh;
    overflow: auto;
}