.c-menu {
    background: $blanco;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
    height: 100%;
    z-index: 1;
    position: relative;
    &--ocultar {
        animation: c-menu__ocultar;
        animation-duration: 0.5s;
        animation-timing-function: ease-in;
    }
    &--descubrir {
        animation: c-menu__descubrir;
        animation-duration: 0.7s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
    }
    &--oculto {
        margin-top: -100%;
    }

    @media only screen and (min-width: $mobile-l) {
        padding-top: 0%;
        display: block;
        border-bottom-right-radius: 10px;
        &--oculto {
            margin-top: 0%;
        }
    }
}

.c-menu__boton {
    @media only screen and (min-width: $mobile-l) {
        display: none;
    }
}

.c-menu__lista {
    display: grid;
    padding: 15px;

    row-gap: 3px;
}

.c-menu__item {
    padding: 3px;
    padding-left: 10px;
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Likely future */
    border-left: 2px solid transparent;
    &--destacado {
        color: $rojo;
        border-color: $rojo;
        font-weight: bold;
    }
    &--oculto {
        opacity: 0;
        margin-left: -30%;
    }
    &--descubrir {
        animation: c-menu__lista__descubrir;
        animation-duration: .7s;
        animation-timing-function: ease-out;
        animation-fill-mode: both;
    }
    @media only screen and (min-width: $mobile-l) {
        &--oculto {
            opacity: 1;
            margin-left: 0%;
        }
    }
}

.c-menu__sub {
    padding-left: 20px;
    color: firebrick;
}

.c-menu__item:hover {
    color: $rojo;
    border-color: $rojo;
    font-weight: bold;
}

@keyframes c-menu__ocultar {
    0% {
        padding-top: 10px;
        margin-top: -7px;
    }
    40%{
        padding-top: 10px;
        margin-top:0;
    }
    45%{
        padding-top: 10px;
        margin-top: 0;
    }
    100%{
        margin-top: -100%;
    }
}

@keyframes c-menu__descubrir {
    0% { 
        padding-top: 10px;
        margin-top: -100%;
    }
    15%{
        padding-top: 10px;
        margin-top: -30%;
    }
    90%{    
        padding-top: 10px;
        margin-top: 0;
    }
    95%{    
        padding-top: 10px;
        margin-top: 0;
    }
    100%{    
        padding-top: 0;
    }
}
@keyframes c-menu__lista__descubrir {
    0% {
        margin-left: -50%;
    }
    75% {
        margin-left: 10px;
    }
    80% {
        margin-left: 10px;
    }
}