.c-menu {
    background: $blanco;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
    height: 100%;
    z-index: 1;
    position: relative;
    &--ocultar {
        animation: c-menu__ocultar;
        animation-duration: 0.2s;
        animation-timing-function: ease-in;
    }
    &--descubrir {
        animation: c-menu__descubrir;
        animation-duration: 0.2s;
        animation-timing-function: ease-out;
    }
    &--oculto {
        margin-top: -100%
    }
    &--desplegado {
        height: auto;
        padding: 15px;
        width: 200px;
        animation: c-menu__desplegar;
        animation-duration: .3s;
        animation-timing-function: ease-out;
    }
    &--plegado {
        height: auto;
        width: 20px;
        padding: 15px 0px;
        animation: c-menu__plegar;
        animation-duration: .3s;
        animation-timing-function: ease-out;
    }
    @media only screen and (min-width: $mobile-l) {
        display: block;
        border-bottom-right-radius: 10px;
        &--oculto {
            margin-top: 0%
        }
    }
}

.c-menu__boton {
    @media only screen and (min-width: $mobile-l) {
        display: none;
    }
}

.c-menu__lista {
    display: grid;
    padding: 15px;
    row-gap: 3px;
}

.c-menu__item {
    padding: 3px;
    padding-left: 10px;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */
    border-left: 2px solid transparent;
    &--destacado {
        color: $rojo;
        border-color: $rojo;
        font-weight: bold;
    }
    &--oculto {
        opacity: 0;
        margin-left: -30%;
    }
    &--descubrir {
        animation: c-menu__lista__descubrir;
        animation-duration: 0.5s;
        animation-timing-function: ease-out;
    }
    @media only screen and (min-width: $mobile-l) {
        &--oculto {
            opacity: 1;
            margin-left: 0%;
        }
    }
}

.c-menu__sub {
    padding-left: 20px;
    color: green;
}

.c-menu__item:hover {
    color: $rojo;
    border-color: $rojo;
    font-weight: bold;
}

.c-menu__borde {
    background: orange;
    width: 20px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
}

.c-menu__flecha {
    margin: auto;
    color:blue;
    &--plegado {
        transform: rotateZ(180deg);
    }
}

@keyframes c-menu__ocultar {
    0% {
        margin-top: 0%;
    }
}

@keyframes c-menu__descubrir {
    0% {
        margin-top: -100%;
    }
}

@keyframes c-menu__lista__descubrir {
    0% {
        margin-left: -5%;
        opacity: 0;
    }
}

@keyframes c-menu__desplegar {
    0% {
        width: 20px;
    }
}

@keyframes c-menu__plegar {
    0% {
        width: 200px;
        padding: 15px;
    }
}