.c-modal-producto {
    display: grid;
    grid-template-columns: 1fr;
    @media only screen and (min-width: $laptop) {
        grid-template-columns: 1fr 1fr;
    }
}

.c-modal-producto__imagen {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.c-modal-producto__contenido {
    display: grid;
    grid-template-rows: 15px auto 15px auto minmax(15px, 1fr) auto 20px auto;
    grid-template-areas: 
                        '.'
                        'nombre'
                        '.'
                        'descripcion'
                        '.'
                        'comprar'
                        '.'
                        'categorias';
    padding: 20px;
}

.c-modal-producto__nombre {
    font-size: 1.5rem;
    grid-area: nombre;
}

.c-modal-producto__descripcion {
    font-style: italic;
    font-size: 1rem;
    grid-area: descripcion;
}

.c-modal-producto__comprar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    grid-area: comprar;
}

.c-modal-producto__precio {
    font-size: 2rem;
}


.c-modal-producto__categorias {
    grid-area: categorias;
}

.c-modal-producto__categoria {
    margin: 2px;
}