.c-notificacion {
    position: fixed;
    z-index: 50;
    background: $blanco;
    padding: 1% 3%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
    &--top {
        width: 80vw;
        left: 10vw;
        @media only screen and (min-width: $mobile-l) {
            width: 50vw;
            left: 25vw;
        }
        animation: c-notificacion--top;
        animation-duration: 10s;
    }
    &--flash {
        bottom: 50px;
        animation: c-notificacion--flash;
        animation-duration: 5s;
        padding: 10px;
    }
}

.c-notificacion__barra-tiempo {
    position: absolute;
    height: 5px;
    right:  0;
    bottom: 0;
    background: $rojo;
    animation: c-notificacion__barra-tiempo linear;
    border-radius: 10px;
    &--top {
        animation-duration: 9.6s;
    }
    &--flash {
        animation-duration: 4.5s;
    }
}

@keyframes c-notificacion--top {
    0% {
        top: -0%;
        opacity: 0;
    }
    2% {
        top: 9vh;
        opacity: 1;
    }
    4% {
        top: 8vh;
    }
    96% {
        top: 8vh;
    }
    98% {
        top: 9vh;
        opacity: 1;
    }
    100% {
        top: -0%;
        opacity: 0;
    }
}

@keyframes c-notificacion--flash {
    0% {
        right: -100%;
    }
    10% {
        right: 20px;
    }
    15% {
        right: 10px;
    }
    85% {
        right: 10px;
    }
    90% {
        right: 20px;
    }
    100% {
        right: -100%;
    }
}

@keyframes c-notificacion__barra-tiempo{
    0%{
        width: 100%;
    }
    100%{
        width: 0%;
    }
}