.c-perfil {
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: $blanco;
    width: 90%;
    margin: 1% 5%;
    border-radius: 10px;
}

.c-perfil__foto-contenedor {
    grid-area: foto;
    width: 10vw;
    height: 10vw;
    border-radius : 150px;
    overflow: hidden;
}

.c-perfil__foto{
    width: 10vw;
    height: 10vw;
    object-fit: cover;
}

.c-perfil__nombre {
    grid-area: nombre;
    line-height: 120px;
    font-size: 3rem;

}

.c-perfil__nick {
    grid-area: nick;
    line-height: 35px;

}

.c-perfil__contraseña {
    grid-area: contraseña;
    line-height: 35px;
}

.c-perfil__nacimiento {
    grid-area: nacimiento;
    line-height: 35px;
}

.c-perfil__telefono {
    grid-area: telefono;
    line-height: 35px;
}

.c-perfil__metodos-pago {
    grid-area: metodos-pago
}

.c-perfil__pedidos {
    grid-area: pedidos
}

.c-perfil__ubicaciones {
    grid-area: ubicaciones;
}