.c-perfil {
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: $blanco;
    width: 90%;
    margin: 1% 5%;
    border-radius: 10px;
}

.c-perfil__usuario {   
    display: grid;
    margin: 20px 0;
    grid-column-gap: 20px;
    grid-template-columns: 1fr 300px 1fr 1fr;
    grid-template-rows: 20px;
    grid-template-areas: ". foto nombre ." ". foto apellidos ." ". nick fechaNacimiento ." ". contraseña telefono .";
}

.c-perfil__detalles {
    display: grid;
    margin: 20px 0;
    grid-column-gap: 20px;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: auto;
    grid-template-areas: "metodos-pago metodos-pago . pedidos pedidos pedidos" " . . ubicaciones ubicaciones . .";
}

.c-perfil__foto-contenedor {
    grid-area: foto;
    width: 150px;
    height: 150px;
    border-radius: 150px;
    margin-left: 100px;
    overflow: hidden;
}

.c-perfil__foto {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.c-perfil__nombre {
    grid-area: nombre;
    line-height: 100px;
    font-size: 1.5rem;
}

.c-perfil__apellidos {
    grid-area: apellidos;
    line-height: 150px;
    font-size: 1.5rem;
}

.c-perfil__nick {
    grid-area: nick;
    line-height: 35px;
}

.c-perfil__contraseña {
    grid-area: contraseña;
    line-height: 35px;
}

.c-perfil__nacimiento {
    grid-area: fechaNacimiento;
    line-height: 35px;
}

.c-perfil__telefono {
    grid-area: telefono;
    line-height: 35px;
}

.c-perfil__metodos-pago {
    grid-area: metodos-pago
}
.c-perfil__metodo-pago{
    padding: 5px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.c-perfil__metodos-pago-inicio{
    border-bottom: 1px solid;
    padding-bottom: 10px;
}
.c-perfil__metodos-pago-final{
    margin-top: 10px;
    width: 100%;
    display: flex;
}
.c-perfil__pedidos {
    grid-area: pedidos
}
.c-perfil__pedido {
    padding: 5px 0;
    display: grid;
    grid-template-columns: 100px 1fr 1fr 100px;
}
.c-perfil__pedidos-inicio{
    border-bottom: 1px solid;
    padding-bottom: 10px;
}
.c-perfil__pedidos-final{
    margin-top: 10px;
    width: 100%;
    display: flex;
}
.c-perfil__boton{
    margin: auto;
}

.c-perfil__ubicaciones {
    grid-area: ubicaciones;
}
.c-perfil__titulo{
    text-align: center;
    font-size: 1.3rem;
}