.c-principal {
    margin-top: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: $blanco;
    @media only screen and (min-width: $mobile-l) {
        margin: 15px;
        padding: 40px;
        max-width: 100%;
        border-radius: 10px;
    }
}

.c-principal__contenido {
    margin: 0 auto;
    padding: 25px;
    line-height: 1.5;
    font-size: 17px;
    max-width: 900px;
    @media only screen and (min-width: $mobile-l) {
        font-size: 20px;
    }
}

.c-principal__parrafo {
    margin-bottom: 1rem;
}

.c-principal__cabecera {
    padding-bottom: 25px;
    text-align: center;
    @media only screen and (min-width: $mobile-l) {
        font-size: 2rem;
    }
}

.c-principal__texto .c-principal__error-enlace {
    text-align: center;
    font-family: 'Happy Monkey';
    font-style: italic;
    @media only screen and (min-width: $mobile-l) {
        font-size: 1.6rem;
    }
}