 .c-producto__container{
    object-fit: cover;
    padding: 0px;//Va raro el padding cuando se pasa el raton por encima del menu
 }
 .c-productos__container{
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(225px,1fr));
   @media only screen and (min-width:$mobile-l) {
      margin: 15px;
      max-width: 100%;
  }
 }
 .c-producto__imagen{
   border-radius: 10px;
    width: 100%;
    height: 200px;
    object-fit: cover;
 }
 .c-producto__titulo{
    font-family: $fuente-principal;
    width: 100%;
 }
 .c-producto__imagen-destacado{
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
 }
 .c-producto__carrito{
   border-radius: 10px;
   max-width: 50px;
   max-height: 50px;
   background: white;
   border: none;
   float: right;
}
.c-producto__precio{
   font-family: $fuente-principal;
   max-width: 100%;
}
.c-producto__carrito{
   max-width: 50px;
   max-height: 50px;
   background: white;
   border: none;
}