 .c-producto{
   position: relative;
   border-radius: 10px;
   height: 95%;
   max-width: 90%;
   object-fit: cover;
   padding: 0px;
 }
 .c-productos__container{
   display: grid;
   margin: 20px;
   grid-template-columns: repeat(auto-fill, minmax(225px,3fr));
   @media only screen and (min-width:$mobile-l) {
  }
 }
 .c-producto__imagen{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 62%;
    object-fit: cover;
 }
 .c-producto__datos{
   max-width: 90%;
   max-height: 100%;
}
 .c-producto__imagen-destacado{
    position: absolute;
    color: yellow;
    text-shadow: 1px 1px 1px black;
    top: -25px;
    left: -25px;
 }
 .c-producto__datos{
   max-width: 100%;
   max-height: 100%;
   object-fit: cover;
   display: grid;
   grid-template-areas: 'titulo titulo'
                        'precio carrito';
}
/*.c-producto__precio-carrito{
   //display: flex;
   width: 100%;
   height: 100%;
}*/
 .c-producto__carrito{
   border-radius: 10px;
   font-size: 20px;
   border: none;
   margin-left: auto;
   grid-area: carrito;
}
.c-producto__precio{
   padding: 5px;
   font-size: 20px;
   font-family: $fuente-principal;
   display: inline-block;
   margin-right: auto;
   margin-bottom: auto;
   grid-area: precio;
}
.c-producto__titulo{
   font-family: $fuente-principal;
   font-size: 18px;
   max-height: 60px;
   padding: 5px;
   text-overflow: ellipsis;
   grid-area: titulo;
}
.c-producto__titulo-container{
   overflow: hidden;
}