 .c-producto__container{
    display: inline-grid;
    width: 400px;
    border-radius: 10px;
    grid-template-areas:
                  'titulo titulo imagen'
                  'carrito estrella imagen';
    @media only screen and (min-width:$mobile-l) {
        margin: 15px;
        max-width: 100%;
    }
    grid-area: producto;
 }
 .c-productos__container{
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
 }
 .c-producto__imagen{
    width: 200px;
    height: 100px;
    grid-area: imagen;
 }
 .c-producto__titulo{
    font-family: $fuente-principal;
    grid-area: titulo;
    max-width: 100px;
 }
 .c-producto__imagen-destacado{
    max-width: 50px;
    max-height: 50px;
    grid-area: estrella;
 }
 .c-producto__carrito{
   max-width: 50px;
   max-height: 50px;
   grid-area: carrito;
}