.c-quienes-somos {
    display: grid;
    grid-template-areas: "banderas banderas"
                        "contenido contenido";
    max-height: 100%;
    //grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px auto 1fr 1fr;
}

.c-quienes-somos__banderas {
    grid-area: banderas;
}

.c-quienes-somos__contenedor-bandera {//Cambiar a banderas rectangulares
    height: 60px;
    margin: 5px;
    padding: 5px;
    display: inline-block;
    border-radius: 30px;
    &--seleccionada {
        background: $rojo;
    }
}

.c-quienes-somos__bandera {
    height: 100%;
}

.c-quienes-somos__cabecera {
    text-align: center;
    line-height: 40px;
    grid-area: cabecera;
}

.c-quienes-somos__contenido {
    display: grid;
    grid-area: contenido;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 15px 25px;
    border-radius: 10px;
    margin: 3%;
    grid-template-areas: 'cabecera cabecera'
                            'contenido-interno equipo'
                            'servicios servicios';
    @media only screen and (max-width: $mobile-l) {
        grid-template-areas: 'cabecera'
        'contenido-interno'
        'equipo'
        'servicios';
        }
}

.c-quienes-somos__contenido-interno {
    line-height: 35px;
    max-width: 500px;
    grid-area: contenido-interno;
}

.c-quienes-somos__contenido-equipo{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 40px;
    justify-items: center;
    grid-area: equipo;
}

.c-quienes-somos__contenido-equipo-imagen{
    width: 200px;
    height: 200px;
    padding: 20px;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.c-quienes-somos__contenido-equipo-container{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}

.c-quienes-somos__attCliente {
    font-size: 20px;
    justify-self: center;
}

.c-quienes-somos__redes {
    font-size: 20px;
    justify-self: center;
}

.c-quienes-somos__titulo {
    font-size: 40px;
}

.c-quienes-somos__texto {
    min-height: 20px;
    margin: 20px;
    font-size: 20px;
}
.c-quienes-somos__servicios{
    grid-area: servicios;
    display: flex;
    justify-content: space-around;
    margin: 20px;
}
.c-quienes-somos__servicios-icono{
    margin: 10px;
}