html,
body {
    height: 100%;
}

.p-principal {
    font-family: $fuente-principal;
    background: whitesmoke;
}

@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans|Roboto|Source+Sans+Pro|Noto+Sans|Ubuntu|Montserrat');

.p-principal--Lato {
    font-family: 'Lato';
}

.p-principal--OpenSans {
    font-family: 'Open Sans';
}

.p-principal--Roboto {
    font-family: 'Roboto';
}

.p-principal--SourceSansPro {
    font-family: 'Source Sans Pro';
}

.p-principal--NotoSans {
    font-family: 'Noto Sans';
}
.p-principal--Montserrat {
    font-family: 'Montserrat';
}