//@import url('https://fonts.googleapis.com/css?family=Happy+Monkey');

@font-face {
    font-family: 'Happy Monkey';
    src: url('../fonts/HappyMonkey-Regular.ttf');
}

$fuente-principal: sans-serif;
$fuente-logo: 'Happy Monkey', cursive;