<div class="c-usuarios">
  <button type="button" class="c-usuarios_boton-nuevo btn btn-success" (click)="abrirModalNuevo()">Nuevo</button>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Nick</th>
          <th scope="col">Nombre</th>
          <th scope="col">Foto</th>
          <th scope="col">Apellidos</th>
          <th scope="col">Sexo</th>
          <th scope="col">Telefono</th>
          <th scope="col">Nacimiento</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios" [ngClass]="{'table-primary': usuario.nivelprivilegio > 0 }">
          <td>{{ usuario.nick }}</td>
          <td>{{ usuario.nombre }}</td>
          <td>
            <div class="c-usuarios__imagen-contenedor">
              <img *ngIf="usuario.foto.length > 0" class="c-usuarios__imagen"
                src="imagenes/usuarios/{{usuario.id}}.{{usuario.foto}}">
            </div>
          </td>
          <td>{{ usuario.apellidos }}</td>
          <td>{{ usuario.sexo }}</td>
          <td>{{ usuario.telefono }}</td>
          <td>{{ usuario.nacimiento }}</td>
          <td class="c-usuarios__acciones">
            <button type="button" class="btn btn-secondary" (click)="abrirModalVer(usuario)">Ver</button>
            <button type="button" class="btn btn-primary" (click)="abrirModalEditar(usuario)">Editar</button>
            <button type="button" class="btn btn-danger" (click)="abrirModalBorrar(usuario)">Borrar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-modal-usuario *ngIf="modalAbierto" [usuario]="usuarioActual" [modo]="modoModal"
  (cerrado)="alCerrarseModal($event)"></app-modal-usuario>